/* Use `zoom` over `transform` since some tests depend on reading height and width */
#ember-testing {
  transform: none !important;
  zoom: 50%;
}

.grid-stack-item {
  border: 1px solid #000000;
}

.new-item-btn {
  margin: 8px 0;
}
