{{page-title 'Ember Gridstack'}}
<h2 id='title'>Welcome to Ember Gridstack</h2>

<button class='new-item-btn' type='button' {{on 'click' this.changeItems}}>+ New Item</button>

<GridStack @onChange={{fn (mut this.test) true}}>
  {{#each this.items as |item|}}
    <GridStackItem @options={{hash x=0 y=item}} />
  {{/each}}
</GridStack>