<h2 id='title'>Welcome to Ember Gridstack</h2>

<div>Changes: {{this.num}}</div>
<button class='new-item-btn' type="button" {{on "click" this.changeItems}}>+ New Item</button>

<GridStack @onChange={{fn this.onChange true}}>
  {{#each this.items as |item|}}
    <GridStackItem
      @options={{hash x=0 y=item}}
    >
    </GridStackItem>
  {{/each}}
</GridStack>
