<h2 id="title">Welcome to Ember Gridstack</h2>

<button class="new-item-btn" onclick={{action 'changeItems'}}>+ New Item</button>

{{#grid-stack classNames='grid-stack' onChange=(action (mut test) true)}}
  {{#each items as |item|}}
    {{#grid-stack-item}}
      {{item}}
    {{/grid-stack-item}}
  {{/each}}
{{/grid-stack}}


{{outlet}}
